option_settings:
  aws:elasticbeanstalk:application:environment:
    SNAPVAULT_BACKEND: aws
    SNAPVAULT_ALBUMS_TABLE: SnapVault-Albums
    SNAPVAULT_PHOTOS_TABLE: SnapVault-Photos
    AWS_REGION: us-east-1
    FLASK_DEBUG: "0"
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
